.caja1 {
	background-color:red;
	width:300px;
	height:300px;
	position:relative;
}

.caja2 {
	background-color:purple;
	width:150px;
	height:150px;
	margin:75px;
	position:absolute;
}

.caja3 {
	background-color:yellow;
	width:75px;
	height:75px;
	position:absolute; 
}

.caja1azul {
	background-color:blue;
	width:300px;
	height:300px;
	position:relative;
	margin-top:30px;
}

.caja2verde {
	background-color:green;
	width:150px;
	height:150px;
	margin:75px;
	position:absolute;
}

.caja3negra {
	background-color:#000;
	width:75px;
	height:75px;
	position:absolute;
}